# Игнорируемые файлы и папки Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env
venv
.mypy_cache/
.pytest_cache/

# Секретные файлы и данные
.env                     # Скрывает файл локальных переменных окружения (если будете использовать локально)
/data/telethon_session_* # Скрывает сессию Telethon (критически важно!)
/data/*.db               # Скрывает локальную базу данных SQLite
