aiogram>=3.10.0
telethon>=1.35.0
aiosqlite>=0.20.0
g4f[all]>=0.4.5.0
curl_cffi>=0.7.0
aiohttp>=3.9.5
qrcode>=7.4.2
Pillow>=10.3.0
python-dotenv>=1.0.1
pytz>=2024.1
python-dateutil>=2.9.0
typing-extensions>=4.12.0
nest-asyncio>=1.6.0
certifi>=2024.07.04
